@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Information Visualization</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="body">
        <div id="slider" style="width:800px; margin-left:20px;"></div>          
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $("#datepicker").datepicker();
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            //$("#slider").dateRangeSlider();
            $("#slider").dateRangeSlider({
                formatter: function (val) {
                    var year = val.getFullYear();
                    return year;
                }
            });
            $("#slider").dateRangeSlider("bounds", new Date(1900, 0, 1), today);
            $("#slider").dateRangeSlider("values", new Date(1990, 0, 1), today);

            $("#slider").bind("valuesChanged", function (e, data) {
                console.log("Values just changed. min: " + data.values.min + " max: " + data.values.max);
                console.log(data.values);
                $.ajax({
                    type: "POST",
                    url: "/Home/SetTimeline",
                    data: {
                        min: data.values.min.getFullYear(),
                        max: data.values.max.getFullYear()
                    },
                    success: function (movies) {
                        console.log(movies);
                    },
                    
                    error: function (req, status, error) {
                        
                    }
                });
            });

           /* var data = [4, 8, 15, 16, 23, 42];

            var x = d3.scale.linear()
                .domain([0, d3.max(data)])
                .range([0, 420]);

            d3.select(".chart")
              .selectAll("div")
                .data(data)
              .enter().append("div")
                .style("width", function (d) { return x(d) + "px"; })
                .text(function (d) { return d; });*/
        });
    </script>
</body>

</html>
