@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Information Visualization</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="body">
        <div id="slider" style="width:800px; margin-left:20px;"></div>          
    </div>
    <div class="search-wrapper cf">
        <input id="search" type="text" placeholder="Search here..." required="">
        <button id="sb">Search</button>
    </div>
    <div id="res"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#search").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#sb").click();
                }
            });
            $("#sb").click(function () {
               var text = $("#search").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/FindMovies",
                    data: {
                        key: text
                    },
                    success: function (movies) {
                        console.log(movies);
                        $("#res").empty();
                        $.each(movies.Results, function (i, data) {
                            var div_data =
                            "<div class='row'>"+
                            "<div class='poster, column'> "+ 
                            " <a href='/movie/225747-vendetta' title=" + data.Title + "><img class='right_shadow' src='http://image.tmdb.org/t/p/w92/" + data.PosterPath + "' width='92' height='138' /></a>" +
                            "</div>"+
                            "<div class='info, column'>"+
                            "<h3><a href='/movie/225747-vendetta' title=" + data.Title + "'>" + data.Title + "</a> </h3>" +
                            "<p><a>Popularity: " + parseFloat(data.Popularity).toFixed(2) + "</a> </p>" +
                            "<p><a>Score: " + data.VoteAverage + "</a></p>" +
                            "<p><a>Total votes: " + data.VoteCount + "</a></p>" +
                            "</div>"
                            "</div>"
                             $(div_data).appendTo("#res");
                        });
                    },
                    error: function (req, status, error) {
                    }
                });
            });

            $(function () {
                $("#datepicker").datepicker();
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            //$("#slider").dateRangeSlider();
            $("#slider").dateRangeSlider({
                formatter: function (val) {
                    var year = val.getFullYear();
                    return year;
                }
            });
            $("#slider").dateRangeSlider("bounds", new Date(1900, 0, 1), today);
            $("#slider").dateRangeSlider("values", new Date(1990, 0, 1), today);

            $("#slider").bind("valuesChanged", function (e, data) {
                console.log("Values just changed. min: " + data.values.min + " max: " + data.values.max);
                console.log(data.values);
                $.ajax({
                    type: "POST",
                    url: "/Home/SetTimeline",
                    data: {
                        min: data.values.min.getFullYear(),
                        max: data.values.max.getFullYear()
                    },
                    success: function (movies) {
                        console.log(movies);
                    },
                    
                    error: function (req, status, error) {
                        
                    }
                });
            });

           /* var data = [4, 8, 15, 16, 23, 42];

            var x = d3.scale.linear()
                .domain([0, d3.max(data)])
                .range([0, 420]);

            d3.select(".chart")
              .selectAll("div")
                .data(data)
              .enter().append("div")
                .style("width", function (d) { return x(d) + "px"; })
                .text(function (d) { return d; });*/
        });
    </script>
</body>

</html>
