@model WebApplication2.Models.MovieViewModel
@{
    ViewBag.Title = "ViewMovie";
}


<h3 id="title">@Model.movie.Id</h3>

<div id="res">
    <div class='row'>
        <div class='poster, column'>
            <img class='right_shadow' src='http://image.tmdb.org/t/p/w92/@Model.movie.PosterPath' width='92' height='138' />
        </div>
        <div class='info, column'>
            <h3><a href='/Home/ViewMovie?idmovie=@Model.movie.Id' title=@Model.movie.Title>  @Model.movie.Title</a> </h3>
            <p><a>Popularity: @String.Format("{0:0.00}", @Model.movie.Popularity)</a> </p>
            <p><a>Score: @Model.movie.VoteAverage </a></p>
            <p><a>Total votes: @Model.movie.VoteCount </a></p>

        </div>
    </div>
    <div id="credits" class='people, column, column-text'>
        <h3><a title=@Model.movie.Title> Credits</a> </h3>
        <p>
            <a><h2 id="cast" class="vis">Cast:</h2> </a> @foreach (var item in Model.movie.Credits.Cast)
            {<a class="item"> @item.Name </a>}
        </p>
        <p>
            <a><h2 id="crew" class="vis">Crew:</h2> </a> @foreach (var item in Model.movie.Credits.Crew)
            {<a class="item"> @item.Name </a>}
        </p>
        <p><a>Total votes: @Model.movie.VoteCount </a></p>
    </div>
    <div id="graph">
    </div>
    <div id="grCrew">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var onDisplay;
        $("#cast").on("click", function(){
            $("#grCrew").addClass("hidden");
            $("#grCrew").empty();
            $("#graph").removeClass("hidden");
            showCast(); 
            ondisplay = "cast";
        });
        $("#crew").on("click", function(){
            $("#graph").addClass("hidden");
            $("#graph").empty();
            $("#grCrew").removeClass("hidden");
            showCrew(); 
            ondisplay = "crew";
        });
        function showCast(){
            var root;
            root = @Html.Raw(Json.Encode(Model.root));
            var w = 1250,
                h = 900,
                maxNodeSize = 50;
            var vis;
            var force = d3.layout.force();

            vis = d3.select("#graph").append("svg");

            root.fixed = true;
            root.x = w / 2;
            root.y = 120;
            update();

            function update() {
                var nodes = flatten(root),
                    links = d3.layout.tree().links(nodes);

                // Restart the force layout.
                force.nodes(nodes)
                      .links(links)
                      .gravity(0.1)
                      .charge(-1000)
                      .linkDistance(50)
                      .friction(0.5)
                      //.linkStrength(function(l, i) {return 1; })
                      .size([w, h])
                      .on("tick", tick)
                      .start();

                var path = vis.selectAll("path.link")
                     .data(links, function(d) { return d.target.id; });

                path.enter().insert("svg:path")
                  .attr("class", "link")
                  .attr("marker-end", "url(#end)")
                  .style("stroke", "#ccc");
                // Exit any old paths.
                path.exit().remove();
                // Update the nodes…
                var node = vis.selectAll("g.node")
                    .data(nodes, function(d) { return d.id; });


                // Enter any new nodes.
                var nodeEnter = node.enter().append("svg:g")
                    .attr("class", "node")
                    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                    .on("click", click)
                    .call(force.drag)
                    .on("mouseover", function(d,i) {
                        if (i>0) {
                            //CIRCLE
                            d3.select(this).selectAll("circle")
                            .transition()
                            .duration(250)
                            .attr("r", 28)
                            .style("fill","#259286");

                            //TEXT
                            d3.select(this).select("text")
                            .transition()
                            .duration(250)
                            .attr("font-size","2em")
                            .attr("x", 15 )
                            .attr("y", 5 )
                        } else {
                            //CIRCLE
                            d3.select(this).selectAll("circle");   

                            //TEXT
                            d3.select(this).select("text");   
                        }
                    })
                //MOUSEOUT
                .on("mouseout", function(d,i) {
                    if (i>0) {
                        //CIRCLE
                        d3.select(this).selectAll("circle")
                        .transition()
                        .duration(250)
                        .attr("r", 18)
                        .style("fill",color);

                        //TEXT
                        d3.select(this).select("text")
                        .transition()
                        .duration(250)
                        .attr("font-size","1em")
                        .attr("x", 8 )
                        .attr("y", 4 )
                    }
                });

                // Append a circle
                nodeEnter.append("svg:circle")
                    .attr("r", function(d) { return 18; })
                    .attr("class", function(d){return d.type;})
                    .style("fill", color);

                /*
                 * Adds the text */
                nodeEnter.append("svg:text")
                    .attr("text-anchor", "middle")
                    .attr("dx", function(d) { return Math.sqrt(d.size) / 10 || 4.5; })
                    .attr("dy", ".35em")
                    .text(function(d) { return d.name; });


                // Exit any old nodes.
                node.exit().remove();
                // Re-select for update.
                path = vis.selectAll("path.link");
                node = vis.selectAll("g.node");

                function tick() {
                    path.attr("d", function(d) {
                        var dx = d.target.x - d.source.x,
                            dy = d.target.y - d.source.y,
                            dr = Math.sqrt(dx * dx + dy * dy);
                        return 	"M" + d.source.x + ","
                               + d.source.y
                               + "A" + dr + ","
                               + dr + " 0 0,1 "
                               + d.target.x + ","
                               + d.target.y;
                    });
                    node.attr("transform", nodeTransform);
                }
            }

            /**
             * Gives the coordinates of the border for keeping the nodes inside a frame
             * http://bl.ocks.org/mbostock/1129492
             */
            function nodeTransform(d) {
                d.x =  Math.max(maxNodeSize, Math.min(w - (d.logowidth/2 || 16), d.x));
                d.y =  Math.max(maxNodeSize, Math.min(h - (d.logoheight/2 || 16), d.y));
                return "translate(" + d.x + "," + d.y + ")";
            }

            

            /**
             * Toggle children on click.
             */
            function click(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                d3.select(this).selectAll("circle")
                        .style("fill",color);
                update();
            }


            /**
             * Returns a list of all nodes under the root.
             */
            function flatten(root) {
                var nodes = [];
                var i = 0;

                function recurse(node) {
                    if (node.children)
                        node.children.forEach(recurse);
                    if (!node.id)
                        node.id = ++i;
                    nodes.push(node);
                }

                recurse(root);
                return nodes;
            }
            jQuery.fn.d3Click = function () {
                this.each(function (i, e) {
                    var evt = document.createEvent("MouseEvents");
                    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    e.dispatchEvent(evt);
                });
            };
            $(".primary").d3Click();
        }
        function showCrew(){
            var root;
            root = @Html.Raw(Json.Encode(Model.rootCrew));
            var w = 1200,
                h = 1200,
                maxNodeSize = 50;
            var vis;
            var force = d3.layout.force();

            vis = d3.select("#grCrew").append("svg");

            root.fixed = true;
            root.x = w / 2;
            root.y = 120;
            update();

            function update() {
                var nodes = flatten(root),
                    links = d3.layout.tree().links(nodes);

                // Restart the force layout.
                force.nodes(nodes)
                      .links(links)
                      .gravity(0.1)
                      .charge(-1000)
                      .linkDistance(50)
                      .friction(0.5)
                      //.linkStrength(function(l, i) {return 1; })
                      .size([w, h])
                      .on("tick", tick)
                      .start();

                var path = vis.selectAll("path.link")
                     .data(links, function(d) { return d.target.id; });

                path.enter().insert("svg:path")
                  .attr("class", "link")
                  .attr("marker-end", "url(#end)")
                  .style("stroke", "#ccc");
                // Exit any old paths.
                path.exit().remove();
                // Update the nodes…
                var node = vis.selectAll("g.node")
                    .data(nodes, function(d) { return d.id; });


                // Enter any new nodes.
                var nodeEnter = node.enter().append("svg:g")
                    .attr("class", "node")
                    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                    .on("click", click)
                    .call(force.drag)
                .on("mouseover", function(d,i) {
                    if (i>0) {
                        //CIRCLE
                        d3.select(this).selectAll("circle")
                        .transition()
                        .duration(250)
                        .attr("r", 20)
                        .style("fill","#259286");

                        //TEXT
                        d3.select(this).select("text")
                        .transition()
                        .duration(250)
                        .attr("font-size","2em")
                        .attr("x", 15 )
                        .attr("y", 5 )
                    } else {
                        //CIRCLE
                        d3.select(this).selectAll("circle");   

                        //TEXT
                        d3.select(this).select("text");    
                    }
                })
                //MOUSEOUT
                .on("mouseout", function(d,i) {
                    if (i>0) {
                        //CIRCLE
                        d3.select(this).selectAll("circle")
                        .transition()
                        .duration(250)
                        .attr("r", 10)
                        .style("fill",color);

                        //TEXT
                        d3.select(this).select("text")
                        .transition()
                        .duration(250)
                        .attr("font-size","1em")
                        .attr("x", 8 )
                        .attr("y", 4 )
                    }
                });

                // Append a circle
                nodeEnter.append("svg:circle")
                    .attr("r", function(d) { return 10; })
                    .attr("class", function(d){return d.type;})
                    .style("fill", color);

                /*
                 * Adds the text */
                nodeEnter.append("svg:text")
                    .attr("text-anchor", "middle")
                    .attr("dx", function(d) { return Math.sqrt(d.size) / 10 || 4.5; })
                    .attr("dy", ".35em")
                    .text(function(d) { return d.name; });
              
                // Exit any old nodes.
                node.exit().remove();
                // Re-select for update.
                path = vis.selectAll("path.link");
                node = vis.selectAll("g.node");

                function tick() {
                    path.attr("d", function(d) {
                        var dx = d.target.x - d.source.x,
                            dy = d.target.y - d.source.y,
                            dr = Math.sqrt(dx * dx + dy * dy);
                        return 	"M" + d.source.x + ","
                               + d.source.y
                               + "A" + dr + ","
                               + dr + " 0 0,1 "
                               + d.target.x + ","
                               + d.target.y;
                    });
                    node.attr("transform", nodeTransform);
                }
            }

            /**
             * Gives the coordinates of the border for keeping the nodes inside a frame
             */
            function nodeTransform(d) {
                d.x =  Math.max(maxNodeSize, Math.min(w - (d.logowidth/2 || 16), d.x));
                d.y =  Math.max(maxNodeSize, Math.min(h - (d.logoheight/2 || 16), d.y));
                return "translate(" + d.x + "," + d.y + ")";
            }

            /**
             * Toggle children on click.
             */
            function click(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                d3.select(this).selectAll("circle")
                        .style("fill",color);
                update();
            }


            /**
             * Returns a list of all nodes under the root.
             */
            function flatten(root) {
                var nodes = [];
                var i = 0;

                function recurse(node) {
                    if (node.children)
                        node.children.forEach(recurse);
                    if (!node.id)
                        node.id = ++i;
                    nodes.push(node);
                }

                recurse(root);
                return nodes;
            }
            jQuery.fn.d3Click = function () {
                this.each(function (i, e) {
                    var evt = document.createEvent("MouseEvents");
                    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    e.dispatchEvent(evt);
                });
            };
            $(".primary").d3Click();
        }
        /**
             * Color nodes according to the rule.
             */
        function color(d) {
            var c;
            
            if(d.type=="secondary"){
                c="#fd8d3c";
            }else if(d._children && d._children.length>0){
                c ="#c6dbef";
            }else {
                c ="#3182bd";
            }
            return c;
        }
    });
</script>

